/*Table prices*/
table, tr, td {
	border: 1px solid black;
	padding: 5px;
  }
  table {
	border-spacing: 15px;
	padding-top: 20px;
  }
  table th {
	  padding:10px;
	background-color: rgba(36, 0, 39, 0.767);
	color: rgb(255, 255, 255);
  }

.container-prices {
	font-size: 15px;
	font-family: 'Philosopher' ;
}
