/*success*/
.center{
    width:80%;
    text-align:center;
    font-size:35px;
    padding-top:20px;
    padding-bottom:100px;
    margin:auto; /*moving to middle the whole page */
    overflow:hidden; /*no scrollbar at the bottom */
}